@import 'styles/shared.scss';

.FormEditor {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid rgb(59, 80, 151);
  box-shadow: 5px 5px 5px rgb(63, 57, 57); 
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.FormEditorName,
.FormEditorNumber {
  $line-height: 16px;

  height: 12px;
  padding: 12px 16px;
  margin-left: 5px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font: inherit;
  line-height: $line-height;
  letter-spacing: 0.01em;

  resize: none;
  margin-bottom: 12px;

  
  &::-webkit-inner-spin-button { 
    display: none;
}
}

.FormEditorName{
  margin-left: 20px;
}


.FormEditor__button {
  @extend %button;

  width: 100%;
  margin-left: auto;
  border-radius: 4px;
  padding: 12px 24px;
  background-color: $indigo;
  color: $white;
  font-weight: 500;

  &:hover,
  &:focus {
    background-color: $indigo-accent;
  }

  &:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}