@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: 'Manrope';
  src: local('Manrope'), url('./fonts/Manrope-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: #fdf7f2;

  font-family: -apple-system, BlinkMacSystemFont, 'Manrope', 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  font-family: inherit;
  height: fit-content;
  width: fit-content;
  border: none;
}

input {
  font-family: inherit;
}
